@charset "utf-8";
/* レスポンシブ用CSS Document */
body{
	background-color: f8fbff;
}
header .logo {
	float: left;
}
nav ul li {
	float: right;
	font-size: 16px;
	margin: 0 0 30px 50px;
	background-color: #A8D7DB;
	border-radius: 5px;
	padding: 5px;
}
nav ul {
	list-style-type: none;
	text-decoration: none;
}
main.top {
	clear: both;
	font-size: 25px;
	background-color: #A8D7DB;
	padding: 50px;
}
main span {
	font-size: 20px;
}
#about h1 {
	background: #A8D7DB;
	padding: 10px;
}
#about .profile_photo {
	margin: 10px 0 10px;
	width: 100%;
	height: 100%;
}
#about h2,#about p {
	padding: 10px;
}
.skill h1 {
	clear: both;
	background: #A8D7DB;
	padding: 10px;
}
.skill-contents1,.skill-contents2 {
	padding: 10px;
	border: 3px dotted #A8D7DB;
	margin-bottom: 20px;
}
.tool-inner {
	background: #A8D7DB;
	padding: 10px;
}
#works h1 {
	background: #A8D7DB;
	padding: 10px;
}
.work_img {
	width: 100%;
	height: 100%;
}
.work-detail {
	padding: 10px;
	border: 3px dotted #A8D7DB;
}
footer .footer_logo {
	float: left;
}
.footer_nav ul li {
	float: right;
	margin: 0 0 30px 50px;
	font-size: 16px;
	background-color: #A8D7DB;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
}
.footer_nav ul {
	list-style-type: none;
	text-decoration: none;
}
footer .copyright {
	clear: both;
	text-align: center;
}
